.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scorecard {
  display: flex;
  flex-direction: column;
}

.upper {
  display: flex;
  flex-direction: column;
}

.lower {
  display: flex;
  flex-direction: column;
}

.gameboard {
}