@media (max-width: 500px) {
  body {
  background-image: url("https://swall.teahub.io/photos/small/36-363044_wallpaper-71648-data-src-dice-wallpaper-for-phones.jpg");
  background-size: cover;
  }
}

@media (min-width: 500px) {
  body {
  background-image: url("https://wallpaperset.com/w/full/5/7/5/35163.jpg");
  background-size: cover;
  }
}

.layer {
  background-color: rgba(26, 26, 26, 0.7);
}

.scorecard {
  width: 50%;
}

.gameboard {
  width: 40%
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
}

h1 {
  color: white;
  font-family: "Coming Soon", cursive;
  font-size: 7vh;
  font-weight: lighter;
  text-align: center;
  margin: 2vh;
}

a {
  text-align: center;
  margin: 0 0 3vh 0;
  color:rgb(235, 132, 36);
  text-decoration: none;
  font-style: italic;
  font-family: "Coming Soon", cursive;
}

.container {
  display: flex;
  flex-direction: row;
  color: white;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
}

.score-button {
  width: 80%;
  font-family: "Coming Soon", cursive;
  border-radius: 10px;
  border-color: gray;
  font-weight: bold;
  color: black;
}

.score {
  width: 10%;
  text-align: center;
  font-size: 3vh;
  font-family: "Coming Soon", cursive;
  color: white;
}

.aces-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.twos-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.threes-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.fours-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.fives-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.sixes-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.upper-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6%;
}

.three-kind-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.four-kind-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.full-house-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.sm-straight-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.lg-straight-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.chance-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.yahtzee-score {
  display: flex;
  justify-content: space-evenly;
  height: 6%;
}

.bonus-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6%;
}

.lower-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6%;
}

.grand-total-score {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  height: 18%;
  font-family: "Coming Soon", cursive;
}

h3 {
  margin: 0;
  font-size: 3vh;
  color:rgb(235, 132, 36);
  font-weight: lighter;
}


.scorecard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
  font-family: "Coming Soon", cursive;
}

.hold {
  height: 5%;
  font-size: small;
  font-family: "Coming Soon", cursive;
  border-radius: 10px;
  border-color: gray;
  color: black;
  font-weight: bold;
}

.dice {
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Coming Soon", cursive;
  color: rgb(235, 132, 36);
  font-size: 5vh;
}

#reset-game {
  height: 7%;
  font-family: "Coming Soon", cursive;
  border-radius: 10px;
  border-color: gray;
  color: black;
  font-weight: bold;
}

#roll {
  height: 10%;
  margin-top: 3%;
  font-family: "Coming Soon", cursive;
  border-radius: 10px;
  border-color: gray;
  color: black;
  font-weight: bold;
}


.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
  width: 50%;
  align-items: center;
}

h4 {
  font-size: 2.5vh;
  color:rgb(235, 132, 36);
  font-weight: lighter;
}